@use "../scss/_mixins" as *;

.btn {
  display: inline-block;
  min-width: 120px;
  padding: 8px 20px;
  border: 1px solid transparent;
  border-radius: 30px;
  background-color: #ff6900;
  cursor: pointer;
  transition: all 0.2s ease;

  &.outline,
  &.cart span {
    font-weight: 600;
    font-size: 16px;
  }

  &,
  span {
    color: #fff;
  }

  span,
  path,
  svg {
    transition: all 0.2s ease;
  }

  &.circle {
    @include flex(center, center);
    min-width: 32px;
    width: 32px;
    height: 32px;
    padding: 0;
    border-width: 2px;

    &:active {
      transform: translateY(2px);
    }
  }

  &.outline {
    background-color: transparent;
    border-color: #ff6900;

    &,
    span {
      color: #ff6900;
    }

    svg path {
      fill: #ff6900;
    }

    &:hover {
      background-color: #ff6900;

      &,
      span {
        color: #fff;
      }

      svg path {
        fill: #fff;
      }
    }

    &.black {
      @include flex(center, center);
      gap: 12px;
      border-color: #d3d3d3;

      &,
      span {
        color: #cacaca;
      }

      svg path {
        fill: transparent;
      }

      &:hover {
        background-color: #000;

        &,
        span {
          color: #fff;
        }
      }
    }
  }

  &__delimiter {
    width: 1px;
    height: 22px;
    background-color: #fff;
    margin: 0 14px;
  }

  &.cart {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 12px 25px;

    &:hover {
      transform: scale(1.05);
    }

    svg {
      margin-bottom: 2px;
    }
  }
}
